.mainContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
    height: 100vh;
    width: 100%;
}
.rightRequestSection{
    width:40%;
    margin: 2rem;
    color:white;
    font-size: 1.3rem;
    font-style: italic;
    opacity: 0.7;
}

@media screen and (max-width: 920px){
    .mainContainer {
        display: flex;
        flex-direction: column;
      }
      .mainContainer>div{
        margin-bottom: 2rem;
      }
      .postHeader {
        order: 2;
      }
    
      .rightRequestSection {
        order: 1;
      }
} 