@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.authContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom right, #c7c5f4, #776bcc);
  min-height: 100vh;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
}
.heading > h1 {
  font-family: "Dancing Script", cursive;
  background: linear-gradient(90deg, #fc00ff, #00dbde);
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  margin-left: 0;
  font-weight: 700;
}
.heading > span {
  font-size: 2.4rem;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}
