/* @import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

.authContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom right, #c7c5f4, #776bcc);
  min-height: 100vh;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 30%;
}
.heading > h1 {
  background:linear-gradient(#5d54a4,#7c78b8,#5c5696);
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8rem;
  margin-left: 0;
  font-weight: 700;
}
.heading > span {
  font-size: 1.7rem;
  color: #fff;
  font-weight: 400;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
} */

.authContainer {
  display: flex;
  flex-direction: row;
  width:100%;
  height:100%;
  align-items: center;
  justify-content: space-between;
  background-image: url("../../assests/images/bg.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:30vw;
    margin-left: 10vw;
}
.heading>h1 {
    background: linear-gradient(90deg,#00dbde,#fc00ff);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5rem;
    margin-left: 0;
}
.heading>span{
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}

@media screen and (max-width: 700px) {
  .authContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width:80%;
      margin-left: 0;
      margin-top: 5rem;
      margin-bottom: 2rem;
  }
}