.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid black;
  border-radius: 7px 7px 0 0;
  background-color: #212529;
  border-radius: 1%;
  height: 480px;
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.new-message-input-field {
  height: 80px;
  max-height: 50%;
  font-size: 20px;
  padding: 8px 12px;
  resize: none;
  background-color: #212529;
  color: white;
  border-radius: 1%;
  border-top: none;
  width: 100%;
}

.message-item {
  width: 55%;
  margin: 8px;
  padding: 12px 8px;
  word-break: break-word;
  border-radius: 4px;
  color: white;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  background-color: #3f4042;
  margin-right: auto;
}

.send-message-button {
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: rgb(0, 132, 255);
  padding: 5px 8px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
}





.messages-container, .new-message-input-field, .send-message-button {
  border-color: #9a9a9a;
 
}

.chat-room-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  background: none;
  width: 90%;
  margin: auto;
   overflow-y: auto;
}

.roomheading {
  height: 45px;
  color: aliceblue;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.chatsection {
  border-radius: 7px 7px 0 0;
  width: 100%;
  margin-top: 60px;
  position: relative;
}

.chatroomusers {
  color: aliceblue;
  height: 200px;
  width: 40%;
  background-color: #3f4042;
  margin-top: -260px; /* Adjust the margin-top value as needed */
  position: absolute;
  right: 0;
}


/* Add a media query for screens smaller than 768px */
@media (max-width: 768px) {
  .chat-room-container {
    flex-direction: column;
  }
  
  .roomheading {
    width: 100%;
    text-align: center;
    height: 70px;
  }
  
  .chatsection {
    width: 100%;
    position: relative;
    float: none;
    margin-top: -10px;
    margin-bottom: 10px; /* Reset the margin-bottom value */
  }
  
  .chatroomusers {
    width: 100%;
    margin-left: 0;
    margin-top: 480px;
    height: 300px;
  }
  
  .messages-container {
    height: 300px;
  }
  
  .new-message-input-field {
    max-height: none;
  }
  
  .message-item {
    width: 100%;
  }
}

/* Add a media query for screens larger than 768px */
@media (min-width: 768px) {
  .chat-room-container {
    flex-direction: row;
  }
  
  .chatsection {
    width: 75%;
    margin-top: 60px;
    position: absolute;
    float: left;
  }
  
  .chatroomusers {
    color: aliceblue;
    height: 500px;
    width: 20%;
    background-color: #212529;
    margin-top: 60px;
    margin-left: 925px;
  }
  .chatroom{
    margin-top: 60px;
  }
}
