.userListHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}
.users{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
/***********SLIDER********/
.sliderContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    height: 7px;
    background: linear-gradient(-90deg,#00dbde,#fc00ff);;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .sliderValue {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
  }