.MyAccount{
    display: flex;
    flex-direction: column;
    width:50rem;
    height: 100%;
    border-radius: 1rem;
    padding: 2rem;
    margin:9rem 0rem 0rem 10rem;
    color:white;
    background-color: #151515;
    font-size: 1.5rem;
}
.divider{
    width:100%;
    height: 0.2px;
    background-color: var(--grey-6);
    opacity: 0.5;
    margin: 2rem 0;
    text-align: center;
}
.me{
    display: flex;
    align-items: center;
}
.username{
    font-size: 1.8rem;
}
.avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
    object-fit: cover;
}
.gear{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 2rem;
    cursor:pointer;
}
.meDetails{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.details{
    background-color:#393939;
    padding:2rem;
    margin-top: 1rem;
    border-radius: 1rem;
}
.detailName{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.detailValue{
    font-size: 1.65rem;
    margin-top: 0.4rem;
    opacity:0.9;
}
.detailValueTag{
    font-size: 1.4rem;
    margin-top: 0.4rem;
    opacity:0.9;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.tag{
    background-color: #252525;
    padding:0.8rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

@media screen and (max-width: 700px) {
    .MyAccount{
        width:100%;
        margin:0rem;
        margin-top: 5rem;
    }
}