.container {
  height: 100vh;
  width: 100vw;
  background-image: url("../assests/images/image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #212529;
}

.content {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 6rem;
  justify-content: center;
  gap: 4rem;
}

.heading {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

.about {
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
  color: #f1f3f5;
}

.button {
  text-transform: uppercase;
  background-color: #536dfe;
  color: #f1f3f5;
  border: none;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  border-radius: 100rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #5c7cfa;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.2);
}
