.button {
  text-transform: uppercase;
  background-color: #536dfe;
  color: #f1f3f5;
  border: none;
  padding: 1.6rem 3.2rem;
  width: fit-content;
  border-radius: 100rem;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #5c7cfa;
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 1rem rgba(255, 255, 255, 0.2);
}
