.container{
    width:40vw;
    height:100vh;
  }
  .authHeading{
    font-size: 4rem;
    color:white;
    align-items: center;
  }
  .form{
    width: 100%;
    height:100%;
    border-radius: 10px;
    background-color: rgba(51, 51, 51, 0.6);
    box-shadow: 0px 4px 10px rgba(255, 99, 71, 0.1);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .email{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    justify-content: center;
    /* height:60%; */
  }
  .input , .authButton{
    font-family: var(--font-family-body);
font-size: 1.2rem;
border-radius: 5px;
background-color: #303030;
color: white;
padding: 0.7rem;
margin-bottom: 4rem;
border:none;
background-color: rgba(196, 196, 196, 0.3);
  }
  .authButton:hover {
    background: linear-gradient(90deg,#00dbde,#fc00ff)
  }
  .email>div{
    font-size: 1.5rem;
    color:white;
    margin:4rem auto 1.5rem 0;
  }
  .message{
    font-size: 1.3rem;
    color:white;
    margin-top: 1rem;
    text-align: center;
    cursor:pointer;
  }