@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


.navbar {
  background-color: #151515;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}


.navcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  font-size: 20px;
}
.navlogo {
  color: white;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;
  
}

.Logo{
  background: linear-gradient(90deg,#00dbde,#fc00ff);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}
.navmenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.navlinks {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.facode {
  margin-left: 1rem;
}

.navitem {
  line-height: 40px;
  margin-right: 1rem;
}

.navitem:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.navitem:hover:after {
  width: 100%;
  background: linear-gradient(90deg,#00dbde,#fc00ff);
}

/* .nav-item .active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
} */

.navicon {
  display: none;
}


/* //button  */
.containerbutton{
  align-items: center;
  text-align: center;
}

#button {
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: none;
  width: 85%;
  height: 30px;
  border-radius: 50px;
  outline: none;
  background: linear-gradient(90deg, #00dbde,#fc00ff, #930aab, #00dbde);
  background-size: 400%;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
}

#button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(90deg, #00dbde,#fc00ff, #930aab, #00dbde);
  background-size: 400%;
  border-radius: 50px;
  opacity: 0;
  transition: .5s;
}

#button:hover {
  animation: animate 10s linear infinite;
}
#button:hover::before {
  filter: blur(25px);
  opacity: .8;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
} 
@media screen and (max-width: 960px) {
  .navmenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1pxsolid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .navmenu.active {
    background: #252424;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .navitem .active {
    color: white;
    border: none;
  }
  .navlinks {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .navicon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }
}

.containerbuttonbns {
  align-items: center;
  text-align: center;
  /* margin-right: 1000px;
  padding-right: 100px; */
}

#buttonbns {
  position: relative;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 50px;
  outline: none;
  background: linear-gradient(90deg, #00dbde,#fc00ff, #930aab, #00dbde);
  background-size: 400%;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-decoration: none;
  height: 40px;
  
}

#buttonbns::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(90deg, #00dbde,#fc00ff, #930aab, #00dbde);
  background-size: 400%;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
  
}

#buttonbns:hover {
  animation: animate 10s linear infinite;
  text-decoration: none; /* Remove underline effect */
}

#buttonbns:hover::before {
  filter: blur(25px);
  opacity: 0.8;
  animation: animate 10s linear infinite;
}

#buttonbns:active {
  outline: none;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

/* Remove underline effect */
.navlinksbuutonbns {
  text-decoration: none;

  
}

.navlinksbuutonbns:hover {
  text-decoration: none;
}

.navlinksbuutonbns:active {
  outline: none;
}
.navlinksbuuton {
  text-decoration: none;
  
}

.navlinksbuuton:hover {
  text-decoration: none;
}

.navlinksbuuton:active {
  outline: none;
}
.linkbuttonbns{
  margin-right: 25px;
}






@media screen and (max-width: 960px) {
  
  /* Adjust the margin as needed to align the elements */
  .navlinksbuutonbns {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navlinksbuuton {
    margin-bottom: 1rem;
  }

  /* Make the buttons take full width */
  #containerbuttonbns,
  #button {
    width: 100%;
  }
  #containerbuttonbns,
  #buttonbns{
    width: 100%;
  }
}
