body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100vw;
    color:white;
    margin-top: 2rem;
}
h1{
    border:none;
    align-items: center;
}
.buttons{
    margin:2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}
.input{
    width:30%;
    background-color: #252525;
    border: none;
    height:100%;
    color:white;
    padding:2rem;
    border-radius: 1rem;
}
.input:focus{
    border: none;
}
button:hover{
    background-color: #252525;
    color:white;
    border: none;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.searchUsers{
    color:white;

}
.userList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .searchUsers>ul>li>span{
    color:white;
  }
  .friend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: #262626;
    padding:2rem;
    border-radius: 1rem;
    width:40%;
}
    .avatar{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-right: 2rem;
    object-fit: cover;
}
.friendBox{
    display: flex;
    align-items: center;
}
.name{
    font-size: 1.5rem;
}
.friendBox{
    display: flex;
}
.avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2rem;
}
.secondInput{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    color:white;
    flex-direction: column;
}
.showMore{
    margin-bottom: 2rem;
}
@media screen and (max-width: 440px) {
    .input{
        width:80%;
        border-radius: 1rem;
    }
    .secondInput{
        width:80%;
    }
  }
  @media screen and (max-width: 777px) {
    .friend{
        width:80%;
    }
    button{
        height:100%;
    }
  }