/* Additem.css */
.cardadditem {
  background-color: #151515;
  color: white;
  width: 400px;
  padding: 30px;
  border-radius: 8px;
  margin: auto;
  margin-top: 65px;
}

.cardadditem-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-label {
  margin-top: 10px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  margin-bottom: 15px;
  background-color: #252525;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 2px #0069d9;
}

.additembutton {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}

.additembutton:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Media Queries */
@media (max-width: 767px) {
  .cardadditem {
    width: 100%;
    margin-top: 40px;
  }
  
  .form-control {
    font-size: 14px;
  }
  
  .additembutton {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .cardadditem {
    width: 70%;
    margin-top: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cardadditem {
    width: 50%;
    margin-top: 60px;
  }
}

@media (min-width: 1200px) {
  .cardadditem {
    width: 40%;
    margin-top: 70px;
  }
}
