.roomHeaderContainer{
    color:white;
    height:28rem;
    background-color: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    /* width:70%; */
    /* position: fixed; */
}
.group-header {
  display: flex;
  align-items: flex-start;
  width: 70%;
  /* padding: 2rem; */
}

.group-dp {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.group-info {
  display: flex;
  flex-direction: column;
}

.group-name {
  font-size: 2.3rem;
  margin: 0 0 1rem 0;
}

.group-description {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  opacity:0.8;
}

.group-created-by,
.group-created-at,
.group-members {
  margin: 0px 0px 0.5rem 0px;
  font-size: 1.4rem;
}
button{
    height:4rem;
}
.tagStyle , .invitationLink{
  background-color: rgba(160, 160, 160, 0.3);
  margin:0.3rem;
  padding:0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.5rem;
  border:none;
  color:white;
}
@media only screen and (max-width: 768px){
  .roomHeaderContainer{
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .group-header {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .group-dp {
    width: 8rem;
    height: 8rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  
  .group-info {
    text-align: center;
    align-items: center;
  }
  
  .group-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .group-description {
    font-size: 1.3rem;
  }
  
  .group-created-by,
  .group-created-at,
  .group-members {
    font-size: 1.2rem;
  }
  
  button{
    height:3rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .tagStyle , .invitationLink{
    font-size: 1rem;
    padding:0.2rem 0.4rem 0.2rem 0.4rem;
  }
}