
.room{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: #262626;
    padding:2rem;
    border-radius: 1rem;
}
.teamName{
    font-size: 1.5rem;
}
.teamDesc{
    font-size: 1.3rem;
    opacity: 0.8;
}
.teamSize{
    margin-top: 0.5rem;
    font-size: 1.3rem;
}
.group{
    display: flex;
}
.avatar{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2rem;
}
i{
    font-size: 1.5rem;
    margin-left: 2rem;
}
button{
    color: white;
    margin-left: 2rem;
}
.enter{
    background: green;
}
button:hover{
    background:green;
    cursor: pointer;
}