.container {
  margin: 2rem auto;
  padding: 1.6rem;
  background-color: var(--grey-11);
  border-radius: 1rem;
  /* temporary width */
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width:100%;
}

.user,
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about,
.likeCont,
.likes,
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarImg {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.name {
  font-size: 1.6rem;
  color: var(--grey-4);
  font-weight: 500;
  transition: background-color 0.3s;
  cursor: pointer;
}

.name:hover {
  color: var(--grey-hover-text);
}

.location {
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-5);
  font-size: var(--font-x-small);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-9);
  color: var(--primary-3);
  cursor: pointer;
  transition: background-color 0.3s;
}

.description {
  font-weight: 400;
  line-height: 1.5;
  color: var(--grey-4);
  font-size: var(--font-x-small);
}

.image {
  width: 100%;
  border-radius: 1rem;
}

.likeCont {
  gap: 2rem;
}

.likes,
.comment {
  gap: 0.4rem;
}

.actions .button {
  background-color: transparent;
  color: var(--grey-0);
}

.count {
  font-size: var(--font-x-small);
  color: var(--grey-0);
  font-weight: 400;
}

.button:hover {
  background-color: var(--grey-hover);
}
