.headerAndSide {
  display: flex;
}
/* .inviteUsers {
  overflow-x: hidden;
  overflow-y: scroll;
} */
.roomHeader {
  width: 70%;
}
.sideMembers {
  width: 30%;
}
.partition {
  position: fixed;
  width: 100vw;
  height: 2px;
  background-color: #e0e0e0;
}
.padding2 {
  padding: 2rem 2rem 0 2rem;
}
