@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --grey-0: #ffffff;
  --grey-1: #f6f6f6;
  --grey-2: #f0f0f0;
  --grey-3: #e0e0e0;
  --grey-4: #c2c2c2;
  --grey-5: #a3a3a3;
  --grey-6: #858585;
  --grey-7: #666666;
  --grey-8: #4d4d4d;
  --grey-9: #dcdcdc;
  --grey-10: #333333;
  --grey-11: #1a1a1a;
  --grey-12: #0a0a0a;
  --grey-13: #0a0a0a;
  --grey-14: #000000;

  --primary-1: "#E6FBFF";
  --primary-2: "#CCF7FE";
  --primary-3: "#99EEFD";
  --primary-4: "#66E6FC";
  --primary-5: "#33DDFB";
  --primary-6: "#00D5FA";
  --primary-7: "#00A0BC";
  --primary-8: "#006B7D";
  --primary-9: "#00353F";
  --primary-10: "#001519";

  --spacing-smaller: 0.5rem;
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;

  --font-mono: "Roboto Mono", monospace;
  --font-small: 1.4rem;
  --font-medium: 1.6rem;
  --font-large: 1.8rem;
  --font-xx-large: 3.6rem;
  --font-xxl-large: 7.2rem;
  --transition: all 0.125s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--grey-13);
}
